:root {
    --color-principal: #1e8ad9;
    --color-secundario: #46a6ea;
    --color-Terciario:  #ffcc00;
    --color-adcional : #ffffff
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-principal);

}

h1 {
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--color-adcional);
}

h2 {
    font-size: 14px;
    margin-bottom: 14px;
    color: var(--color-adcional);
}

header {
    background-color: var(--color-principal);
    color: var(--color-adcional);
    padding: 20px;
    text-align: center;
}

.contenedor-v {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}

#check {
    display: none;
}

.icons {
    color: var(--color-adcional);
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.fa-solid {
    position: absolute;
    left: 20%;
    color: var(--color-principal);
}

.input-buscador {
    padding: 8px 0px 8px 40px;
    border-radius: 5px;
    border: none;
}

.fas-users {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--color-adcional);
    align-items: center;

}

.tiendaimagen > img {
    height: 40px;
}

.tiendaimagen > h1 {
    color: var(--color-Terciario);
    font-size: 60px;
}

.users {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--color-adcional);
    color: var(--color-adcional);
    justify-content: center;
    display: flex;
    object-fit:contain;
}

.usuario > img {
    height: 26px;
 
}

.shopping-cart {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid var(--color-adcional);
    background-color: var(--color-adcional);
    color: var(--color-principal);
    object-fit: contain;
}

.carrito > img {
    height: 26px;
}

.linea {
    display: flex;
    justify-content: center;
    gap: 1px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

}

.linea::before,
.linea::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 47%;
    height: 1px;
}

.linea::before {
    left: 0;
    transform: translateY(-50%);
   

}

.linea::after {
    right: 0;
    transform: translateY(-50%);

}



.caja {
    width: 5px;
    height: 5px;
    border: 2px groove;
}

#categorias{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#categorias a {
    color: var(--color-adcional);
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--color-secundario);
    border-radius: 5px;
    font-size: 10px;    
}


#categorias a:hover {
    background-color: var(--color-secundario);
}
#products-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr)); 
    gap: 5px;
    gap: 20px;
    padding: 20px;
}

.product {
    margin: 0;
    width: 80%;
    margin: 0 auto; 
    width: 350px;
    height: 300px;
    background-color: #46a6ea;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.product img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
   
        max-width: 300px; 
        max-height: 300px; 
        border-radius: 5px;
        margin-top: -20px;
    }

.product h3 {
    position: absolute; 
    bottom: 5px; 
    left: 0; 
    right: 0; 
    text-align: center; 
    margin: 10px; 
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-adcional);
}

.footer{
    width: 100%;
    height: auto;
}

.footer-nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;

}
.footer-nav > li {
    list-style: none;
}
.footer-nav > li > a > i{
    font-size: 30px;
    color: #000000;
}
.footer-linea{
    width: 80%;
    height: 3px;
    background-color: var(--color-adcional);
    margin: 20px auto;
}
@media (min-width: 350px){
    header{
        padding: 10px;
    }
     .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
   
    .linea::before,
    .linea::after {
        width: 45%;
        height: 2px;
    }

}

@media (min-width: 580px){
    h1,
    h2{
        font-size: 20px;
    }
    .contenedor-v{
        gap: 30px;
    }
    .icons{
        font-size: 2rem;
    }
    .input-buscador{
        width: 50%;
        padding: 15px 0 15px 40px;
    }
    .users{
        padding: 8px;
    }
    .shopping-cart {
        padding: 8px;
    }
    #categorias{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    #categorias a{
        font-size: 14px;
    }
    .linea::before,
    .linea::after {
        width: 41%;
        width: 47%;
        height: 2px;
    }
    #products-section{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
    gap: 30px;
    }
    .product {
        margin: 0;
        width: 100%;
        height: 250px;


    }
}
@media (min-width: 768px) {
    h1,
    h2{
        font-size: 20px;

    }
    .contenedor-div{
        display: flex;
        justify-content: center;
        gap: 20px;

        gap: 20px;   
    }
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .fa-solid{
        position: absolute;
        left: 19%;
        top: 60px;
        color: var(--color-principal);
        font-size: 18px;
    }
     .input-buscador{
        margin-bottom: 13px;   
    }
    .linea::before,
    .linea::after {
        width: 43%;
        width: 47%;
        height: 2px;
    }
    .caja {
    width: 5px;
    height: 5px;
    border: 2px groove;
    }
    #products-section{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
    gap: 30px;
    }
    .product {
        margin: 0;
        width: 100%;
        height: 250px;

    }

}
@media (min-width: 992px){
    h1,
    h2{
        font-size: 20px;

    }
    .users{
        position: relative;
        left: 75px;
    }
    .shopping-cart{
        position: relative;
        left: 50px;
    }
    .contenedor-v{
        gap: 50px;

    } 
    .input-buscador{
        margin-bottom: 13px;
    }
     #categorias{
        gap: 50px;
    }
    #categorias a{
        padding: 10px 20px;
        font-size: 18px;

    }
    .linea::before,
    .linea::after {
    width: 47%;
    height: 3px;
    }
    .caja {
    width: 8px;
    height: 8px;
    border: 2px groove;
    }

}
@media (min-width: 1200px){
    h1,
    h2{
        font-size: 30px;

    }
    .contenedor-v{
        gap: 70px;
    }
    .fa-solid{
        position: absolute;
        left: 21%;
        top: 78px;
        color: var(--color-principal);
        font-size: 18px;
    }
    .input-buscador{
        padding: 15px 1.5rem 15px 60px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #categorias {
        gap: 50px;
    }
    #categorias  a{
        padding: 10px 20px;
        font-size: 18px;

    }
    .linea::before,
    .linea::after {
    width: 48%;
    height: 3px;
    }
    .caja {
    width: 8px;
    height: 8px;
    border: 2px groove;
    }
    #products-section{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-items: center;
    gap: 30px;
    }
    .product {
        margin: 0;
        width: 80%;
        height: 300px;

    }
    .product img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
   }
   .footer-nav > li > a > i{
    font-size: 40px;
    color: #000000;
    }
    .footer-nav{
    gap: 40px;
    padding: 30px;
    }

}