<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
     <div class="container">
        <div class="carrito" id="cart-container">
            <h2>Carrito de compras</h2>
            <button id="exit-cart">Salir del Carrito</button>
            <ul>
                <!-- Los productos del carrito se generan dinámicamente aquí -->
            </ul>
        </div>
     </div>
</body>
       <script src="carrito.js"></script>
</html>